.formwrapper{
  width: 90%;
  /* height: max-content; */
   /* min-height: 110vh;  */
  height: 110vh;
  /* border: 2px solid lightgrey; */
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;
  /* background-color: rgba(245, 245, 245, 0.493); */
}

.titlewrap{
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 10px;
  gap: 5px;

  input{
    width: 74%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
  }

  label{
    font-size: 18px;
  }
}

.propwrap{
  display: flex;
  flex-direction: column;
   margin-left: 65px;
  margin-top: 10px;
  gap: 5px;

  input{
    width: 74%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
  }

  label{
    font-size: 18px;
  }

}



.locationwrapper{
  width: 77%;
  display: flex;
}

.innerlocationwrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 10px;
  gap: 5px;

  input{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
  }

  label{
    font-size: 18px;
  }
}

.locationwrap{
  width: 78%;
  display: flex;
  gap: 10px;
  margin-left: 65px;
  margin-top: 10px;


}

.innerlocationwrap{
  /* width: 30%; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 8px;

   input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
  }

  label{
    font-size: 18px;
  }
}

.descriptionwrap{
  width: 76%;
  height: 25%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 10px;
  gap: 10px;

  textarea{
    width: 90%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
  }

  label{
    font-size: 18px;
  }
}

.pixwrap{
  width: 80%;
  height: 20px;
  /* margin-top: 25px; */
  /* margin-left: 25px; */
  display: flex;
  /* background-color: aqua; */
  justify-content: space-around;
  gap: 30px;

  input{
    width: 100px;
    margin-top: -15px;
    cursor: pointer;
    padding-left: 10px;
  }
}

.basewrap{
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.buttonwrapper{
  width: 12%;
  margin-top: 50px;
}

.btn{
  width: 100px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 15px;
}

.btn:hover{
  cursor: pointer;
  transition: 0.1ms;
  background-color: orangered;
}

.notificationwrap{
  width: 76%;
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  margin-left: 80px;
}

small {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}
