<div class="loginwrapper">
  <div class="sidewrapper"></div>

  <div class="loginfullwrap">
    <h1>USER LOGIN</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="logininnerwrap">
        <div class="emailwrapper">
          <label>Email</label>
          <input type="text" formControlName="email" />

          <small
            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
            style="color: red"
          >
            Email is required
          </small>

          <small
            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']"
             style="color: red"
          >
            Invalid email format
          </small>

          <small
            *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.value &&
            loginForm.get('email')?.errors?.['mustBeJudeEmail']
          "
            style="color: red"
          >
            Invalid credentials
          </small>
        </div>

        <div class="passwordwrapper">
          <label>Password</label>
          <!-- <input type="password" formControlName="password" /> -->

          <div style="position: relative;">
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"

    />

    <span
      (click)="togglePassword()"
      style="
        position: absolute;
        margin-left: -50px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 13px;
        color: blue;
        font-weight: 600;
      "
    >
      {{ showPassword ? 'Hide' : 'Show' }}
    </span>
  </div>

          <small
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
            style="color: red"
          >
            Password is required
          </small>

          <small
            *ngIf="loginError === 'Invalid credentials'"
            style="color: red"
          >
            {{ loginError }}
          </small>
        </div>

        <button class="loginbutton" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
</div>

