<div class="fullpage">
  <div class="navber">
    <div class="innernav">
      <h2>ChillHaven</h2>
      <div style="display: flex; gap: 130px;">
      <!-- <h2 style="cursor: pointer;">Home</h2> -->
       <h2 style="cursor: pointer;" (click)="goHome()">Home</h2>
       <h2 style="cursor: pointer;" (click)="goDetails()">Detail</h2>
      <!-- <h2 style="cursor: pointer;">Cart</h2> -->
      </div>
      <button class="logoutwrapper" (click)="logout()">LOGOUT</button>
    </div>
  </div>

  <div class="fulldetailbox">
  <div class="detailbox">
    <div class="detailswrapper">

      <!-- MAIN IMAGE -->
      <div class="picwrap">
        <img
          [src]="property?.image1"
          style="width:100%; height:100%; object-fit:cover;"
        />
      </div>

      <!-- SECOND IMAGES -->
      <div class="secondpicwrapper">
        <div class="inner1">
          <img
            [src]="property?.image2"
            style="width:100%; height:100%; object-fit:cover;"
          />
        </div>

        <div class="inner2">
          <img
            [src]="property?.image3"
            style="width:100%; height:100%; object-fit:cover;"
          />
        </div>
      </div>

      <!-- AMOUNT -->
      <div style="display: flex; justify-content: flex-end; padding-right: 20px;">
        <h2>
          {{ property?.amount | currency:'NGN':'symbol-narrow' }}
        </h2>
      </div>

      <!-- HOUSE DETAILS -->
      <div class="housedetails">
        <h4>Rooms - {{ property?.rooms }}</h4>
        <h4>Kitchen - {{ property?.kitchen }}</h4>
        <h4>Bathroom - {{ property?.bathroom }}</h4>
        <h4>Toilet - {{ property?.toilet }}</h4>
        <h4>LGA - {{ property?.lga }}</h4>
      </div>

      <!-- DESCRIPTION -->
      <h4 style="margin-left: 27px">
        Description - {{ property?.description }}
      </h4>

    </div>
  </div>
</div>
</div>
