<!-- <div class="profilewrap">
  <div class="profilemainwrap">
    <div class="profilepic"></div>
    <h2>Mr Onuoha Odinaka Joshua</h2>
    <p>Frontend Developer</p>
  </div>

  <div class="profiletextwrap">
    <h2>Biography</h2>
    <p>Onuoha Odinaka Joshua is a seasoned Frontend Engineer with over 5 years of experience building responsive, user-centric web applications. He is proficient in Angular, and modern JavaScript frameworks. His focus lies in component-based architecture, efficient state management, and adaptive UI design. Joshua’s work prioritizes performance, accessibility, and clean code. He collaborates closely with teams to transform ideas into seamless user experiences. </p>

    <h2>Tech Stacks</h2>
    <p>Onuoha Odinaka Joshua is skilled in HTML5, CSS3, JavaScript (ES6+), and TypeScript. He has experience working with frontend frameworks like React.js, Angular,and has familiarity with Vue.js. His styling tools include Tailwind CSS, SCSS, Styled-Components, and Bootstrap. He manages application state using Redux, Zustand, Context API, and NgRx. Joshua also writes reliable tests with Jest, React Testing Library, and Cypress, and uses build tools like Webpack and Vite along with Git and GitHub for version control. </p>

    <h2>Projects</h2>
    <p>Onuoha Odinaka Joshua built a responsive property dashboard using React, featuring full CRUD functionality and image upload. He designed a dynamic product management system for an e-commerce admin panel using Angular. He developed a real-time typing speed application with React to track user performance interactively. Additionally, he created a Cowry Card funding interface that includes API integration and input validation for seamless user transactions.</p>
  </div>

</div> -->
